@tailwind base;
@tailwind components;
@tailwind utilities;

body {
    background-color: #212833;
}

.loader {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.loader-spinner {
    width: 48px;
    height: 48px;
    background: #EEEFF2;
    border-radius: 50%;
    position: relative;
    animation: skLinRotate 1s ease-in-out infinite alternate;
}
.loader-spinner:after{
    content:"";
    position: absolute;
    inset: 5px;
    border-radius: 50%;
    border: 5px solid transparent;
    border-top-color: #4E5D78;
}
@keyframes skLinRotate {
    95% ,100% { transform: rotate(840deg) }
}